@import "../../styles/colors.scss";
@import "../../styles/variables.scss";

.scaleSwitch {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    & > h6 {
        margin: 0 0.5rem;
    }

    & > button {
        border-radius: $radius;
        background-color: $secondaryBlue;
        color: $fontBlack;
        border: none;
        width: 3rem;
        height: 3rem;
        font-weight: 700;
        font-size: 1rem;
        margin: 0 0 1rem;
        &:last-child {
            margin: 0;
        }
        &:hover {
            cursor: pointer;
            opacity: 70%;
        }
    }
}
