@import "../../styles/colors.scss";
@import "../../styles/variables.scss";

.template {
    z-index: 8;
    &__container {
        box-sizing: border-box;
        position: relative;
        padding: 0.5rem;
        margin-bottom: 4.5rem;
        display: flex;
        justify-content: flex-start;
        &_small {
            min-width: 25%;
        }
        &_medium {
            min-width: 33.33%;
        }
        &_large {
            min-width: 50%;
        }
        & > button {
            border-radius: $circleRadius;
            width: 2.5rem;
            height: 2.5rem;
            transform: translateY(-100%);
        }
    }
}
