@import "../../styles/colors.scss";
@import "../../styles/variables.scss";

.template {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    &_subtraction {
        margin-left: 2.5rem;
    }
    &__calculation {
        position: relative;
        &_helper {
            width: 50%;
        }
    }
    &__symbol {
        position: absolute;
        top: 56px;
        left: 0;
        transform: translateX(calc(-100% - 1rem));
        &_plus {
            transform: translateX(calc(100% - 1rem));
            &-helper {
                transform: translateX(calc(300% - 1rem));
            }
        }
    }
}
