@import "../../styles/colors.scss";

.templates-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    section {
        width: 100%;
        padding: 4rem 0;
        background-color: $backgroundLight;
        display: flex;
        flex-direction: column;
        align-items: center;

        &:nth-child(even) {
            background-color: $backgroundDark;
        }
    }
}
.relative-background {
    position: relative;
}
