$backgroundLight: #ffffff;
$backgroundDark: #f3f5fc;

$fontBlack: #333333;
$fontWhite: #ffffff;
$fontBlue: #4c75a4;

$primaryBlue: #7fa1c8;
$secondaryBlue: #c7dbf2;
$secondaryDarkBlue: #4c8696;
$primaryOrange: #f9ac5f;
