.templates-layout {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1140px;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
}
