@import "../../styles/colors.scss";
.auth {
    &__layout {
        background-color: $backgroundDark;
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
        padding: 1rem;
        box-sizing: border-box;
        background-image: url(../../assets/linkaLogo.png);
        background-repeat: no-repeat;
        background-position: bottom 10% right 0;
        @media only screen and (max-width: 768px) {
            background-size: contain;
            background-position: unset;
            background-position-y: 90%;
            background-position-x: center;
        }
    }
    &__popup {
        background-color: white;
        padding: 6rem 6rem 3rem;
        border-radius: 0.5rem;
        position: relative;
        @media only screen and (max-width: 575px) {
            padding: 1rem;
        }
        img {
            position: absolute;
            width: 55%;
            top: -1rem;
            left: 50%;
            transform: translate(-50%, -50%);
            @media only screen and (max-width: 768px) {
                width: 70%;
            }
            @media only screen and (max-width: 575px) {
                display: none;
            }
        }
        span {
            font-family: "Montserrat", sans-serif;
            font-weight: 400;
            font-size: 1.5rem;
            line-height: 2.5rem;
            display: block;
            max-width: 35rem;
            margin-bottom: 1rem;
        }
    }
    &__input {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        @media only screen and (max-width: 575px) {
            width: 100%;
            margin-bottom: 1rem;
        }
        input {
            height: 2.5rem;
            border-radius: 0.25rem;
            width: 100%;
            margin-top: 0.25rem;
            padding: 0.5rem;
            border: 3px solid $primaryBlue;
            box-sizing: border-box;
            &:focus + label {
              display: block;
              opacity: 1;
            }
            @media only screen and (max-width: 575px) {
                width: 100%;
            }
        }
        label {
            font-size: 1rem;
            font-weight: 400;
            font-family: "Montserrat", sans-serif;
            opacity: 0;
        }
    }
    &__formGroup {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        align-items: flex-end;
        margin-bottom: 1.5rem;
        @media only screen and (max-width: 575px) {
            flex-wrap: wrap;
        }
    }
    &__sendEmailButton {
        border-radius: 0.5rem;
        padding: 0.5rem;
        min-width: 10rem;
        width: 25%;
        max-height: 2.5rem;
        margin-left: 1.25rem;
        line-height: 22px;
        @media only screen and (max-width: 575px) {
            width: 100%;
            min-width: 100%;
            margin: 0;
        }
    }
    &__skipButton {
        border: none;
        background-color: rgba(0, 0, 0, 0);
        color: $fontBlue;
        font-weight: 600;
        min-width: 10rem;
        width: 25%;
        text-decoration: underline;
        &:hover {
            opacity: 70%;
        }
        @media only screen and (max-width: 575px) {
            width: 100%;
            min-width: 100%;
        }
    }
}
