@import "../../styles/colors.scss";
@import "../../styles/variables.scss";

.operations-layout {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1140px;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-bottom: 4rem;
    }

    &__title {
        display: flex;
        align-items: center;
        & > h2 {
            margin-right: 1rem;
        }
    }

    &__add-template {
        color: $fontWhite;
        background-color: $primaryBlue;
        border: none;
        border-radius: $buttonRadius;
        box-shadow: 0px 4px 0px $secondaryDarkBlue;
        padding: 1rem;
        &:hover {
            cursor: pointer;
        }
    }

    &__templates {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
}
