@import "./styles/colors.scss";
@import "~bootstrap/scss/bootstrap";

/*@font-face {
    font-family: "Montserrat";
    src: url("./fonts/Montserrat-Regular.woff2") format("woff2"),
    url("./fonts/Montserrat-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Montserrat";
    src: url("./fonts/Montserrat-SemiBold.woff2") format("woff2"),
    url("./fonts/Montserrat-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
  }*/

html {
    color: $fontBlack;
    font-family: sans-serif;
}

body {
    margin: 0;
}

h2,
h6 {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}
h2 {
    color: $fontBlue;
}

input,
span {
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
}

input[type="text"]::-webkit-inner-spin-button,
input[type="text"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="text"] {
    -moz-appearance: textfield;
}
